.skill-box {
    padding: 10px 0;
    color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 25%;
    position: absolute;
}

.skill-box h5 {
    font-size: 16px;
    font-weight: bold;
}

@media (min-width: 576px) and (max-width: 767px) {
    .skill-box h5 {
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .skill-box h5 {
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
